@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');
@font-face { font-family: 'Roboto-400'; src: url('fonts/Roboto/Rototo-Regular.ttf'); }

body
	{
	margin: 0;
	margin-top: 0;
	}
.page-header 
	{
    text-align: center;
	background-color:#70707070;
	width: 100%;
	top:0;
	font-family: 'Supermercado One', cursive;
	}
	h2.page-header
	{
		
	}
nav ul li 
	{ 
	display: inline-block;
	margin-left: 1em; 
	} 
.photos img
	{
	 display: block;
    float: left;
	width: 47%;
    padding: 1%
	
	}
	p{
		padding: 3%;
		font-family:Arial;
	}
h2
	{
	text-align:center;
	}
.contentsections
	{
	background-color:#F5F5F5;
	MARGIN: 4em;	
	float:right;
	width:80%;
	}
aside
	{
	float:left;
	position:fixed;
	width:20%;
	text-align:center;
	}
#sportcontent
	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
#maincontent
	{
	    margin-top: 10em;
	}
.image-sport
	{
	width: 50%;
    margin: 3em;
	float:left;
	}
.sport-p
	{
	PADDING-TOP: 15%;
	}

a:hover {
  color: blue;
}


#contactcontent button[type="submit"] 
	{
	background-color: black;
	color: white;
	padding: 0.5em 2em;
	}
fieldset
	{
	margin:17%;
	padding: 2em;
	font-size:15pt;
	background-color:#AAAAAA;
	}
legend
	{
	text-align:center;
	font-size:28pt;
	}
video 
	{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index:-1;
	}