@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');
@font-face { font-family: 'Roboto-400'; src: url('fonts/Roboto/Rototo-Regular.ttf'); }

body
	{
	margin: 0;
	margin-top: 0;
	}
.page-header 
	{
	position: relative;
    text-align: center;
	background-color:#70707070;
	width: 100%;
	top:0;
	font-family: 'Supermercado One', cursive;
	
	}
	h2.page-header
	{
		
	}
nav ul li 
	{ 
	display: inline-block;
	margin-left: 1em; 
	font-size:18pt;
	} 
.photos img
	{
	 display: block;
    float: left;
	width: 48%;
    padding: 1%
	
	}
#maincontent p 
	{
	float:right;
	}
#secondarycontent p 
	{
	float:right;
	}
	p
	{
		padding: 3%;
		font-family:Arial;
		font-size:13pt;
		color: #444444;
		
	}
h2
	{
	text-align:center;
	color: #000000;
	}
.contentsections
	{
	background-color:#F5F5F5;
	MARGIN: 2em;	
	float:right;
	width:79%;
	}
aside
	{
	float:left;
	position:fixed;
	width:17%;
	text-align:center;
	background-color:#2699FB;
	color:FFFFFF;
	}
#sportcontent
	{

	}
#maincontent
	{
	    margin-top: 0em;
	}
::selection 
	{
	color: white;
	background: black;
	}
.image-sport
	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
    margin: 3em;
	float:left;
	}
.sport-p
	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	PADDING-TOP: 15%;
	padding-bottom: 24%;
	}

a:hover {
  color: blue;
}

.asidepara
	{
		color:white;
	}
#contactcontent button[type="submit"] 
	{
	background-color: black;
	color: white;
	padding: 0.5em 2em;
	}
	#contactcontent
	{
		
	}
fieldset
	{
	margin:17%;
	padding: 2em;
	font-size:15pt;
	background-color:#AAAAAA;
	}
legend
	{
	text-align:center;
	font-size:28pt;
	}
video 
	{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index:-1;
	}
.cookies { position: relative; }
.cookies .checkbox { display: none; }
.cookies .checkbox:checked + .cookies-bar {
    transform: translateY(-50px);
}
.cookies-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background-color: #2699FB;
    color: #fff;
    font-size: 1.2em;
    transition: .8s;
    z-index: 100;
}
.cookies-bar .close {
    border: none;
    color: white;
    position: absolute;
    top: 0;
    right: 15px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    width: 30px;
    font-size: 1.2em;
    font-weight: bold;
}
.cookies-bar .cookie-message p
	{
		margin: 0;
		padding:0;
	}
