
body
	{
	margin: 0;
	margin-top: 0;
	}
.page-header 
	{
    text-align: center;
	background-color:#70707070;
	width: 100%;
	top:0;
	}
	h2.page-header
	{
		font-family
	}

	

nav ul li 
	{ 
	display: inline-block;
	margin-left: 10px; 
	} 
.photos img
	{
	 display: block;
    float: left;
	width: 47%;
    padding: 1%
	
	}
	p{
		padding: 3%
	}
h2
	{
	text-align:center;
	}
section
{
	background-color:#AAAAAAAA;
	MARGIN: 8EM;		
}
#sportcontent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
#maincontent{
	    margin-top: 207px;
}
.image-sport{

	width: 50%;
    margin: 42px;
	float:left;
}
.sport-p{
	float:right;
	PADDING-TOP: 15%;
}

a:hover {
  color: blue;
}


